<div class="text-center">
    <h1>ペット登録ページ</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @mypet, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="form-group">
        <%= f.label :petname, '名前(50字以下)' %>
        <%= f.text_area :petname, class: 'form-control',rows:2 %>
      </div>

      <div class="form-group">
        <%= f.label :age, '年齢(半角数字で入力してください)' %>
        <%= f.text_field :age, class: 'form-control col-sm-1' %>
      </div>

      <div class="form-group">
        <%= f.label :description, '特徴(200字以下)' %>
        <%= f.text_area :description, class: 'form-control',rows:5 %>
      </div>
      
      <div class="form-group">
        <%= f.label :petimage, "ペットの写真" %>
        <%= f.file_field :petimage, class:"form-control" %>
      </div>
    
      <%= f.submit '登録する', class: 'btn btn-success btn-block mb-2' %>
    <% end %>
    
  </div>
    
</div>
