<% if favorites.any? %>
  <ul class="list-unstyled">
    <% favorites.each do |favorite| %>
    <li class="media">
      <img class="mr-2 rounded" src="<%= gravatar_url(favorite.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to favorite.user.name, user_path(favorite.user) %><span class="text-muted"> 投稿日 <%= favorite.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div>
          <%= favorite.content %>
        </div>
        <% if favorite.image.present? %>
          <div>
            <img src="<%= favorite.image %>" >
          </div>
        <% end %>
        <div class="mt-1">
          <%= render "likes/favorite_button", post: favorite %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <%= paginate favorites %>
<% end %>