<% if mypets.any? %>
  <ul class="list-unstyled">
    <% mypets.each do |mypet| %>
      <li class="media mb-1" style="border:1px solid #fff000; border-radius:5px; padding:5px;">
        <div class="media-body">
          <div>
            <p style="font-size:20px; margin:1px;">名前: <%= mypet.petname %></p>
            <p style="font-size:18px; margin:1px;">年齢: <%= mypet.age %></p>
            <% if mypet.petimage.present? %>
              <img src="<%= mypet.petimage %>" width="100">
            <% else %>
              <P style="margin:2px;">※ペットの画像が未登録です</P>
            <% end %>
            <p style="font-size:18px; margin:1px;">特徴: <%= mypet.description %></p>
          </div>
        </div>
        <% if @user == current_user %>
          <div>
            <%= link_to "編集する" , edit_mypet_path(mypet), class:"btn btn-success btn-block"%>
            <%= link_to "削除する" , mypet , method: :delete ,data: { confirm: '本当に削除してよろしいですか？' },class:"btn btn-danger btn-block"%>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %> 
<% if @user == current_user %>
  <%= link_to "ペットを登録する", petsignup_path , class: "btn btn-block btn-primary col-sm-3" %>
<% end %>