<div class="row">
  <%= render "mypage_aside" %>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">マイペット <span class="badge badge-secondary"><%= @count_mypets %></span></a></li>
      <li class="nav-item"><a href="<%= posts_user_path(@user) %>" class="nav-link <%= "active" if current_page?(posts_user_path(@user)) %>">投稿<span class="badge badge-secondary"><%= @count_posts %></span></a></li>
    </ul>
    <%= render "users", users: @followers %>
  </div>
</div>