<div class="text-center">
    <h1>会員登録ページ</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Eメールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, '確認用パスワード' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    
      <%= f.submit '会員登録する', class: 'btn btn-success btn-block mb-2' %>
    <% end %>
    
    <P>登録済みの方はこちら <%= link_to "ログインページへ", login_path %></P>
  </div>
    
</div>
