<p>投稿検索</p>
<%= form_tag root_path, :method => "get" do %>
  <div class="form-gruop">
    <%= label :search_content, "コンテンツ" %>
    <%= text_field_tag :search_content %>
  </div>
  <div class="form-gruop">
    <%= label :search_image, "画像ファイル名" %>
    <%= text_field_tag :search_image %>
  </div>
  <%= label :search_created_at, "日付" %>
  <%= date_field_tag :search_created_at %>
  <%= submit_tag "検索", :content => nil %>
  
<% end %>

<div class="mt-1">
  <button><%= link_to "一覧に戻る", root_path %></button>
</div>